
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.container-head{
    width: 100%;
    padding: 12px 80px;
}
.container {
    max-width: 1800px;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > .container {
    padding: 15px 0px 15px 0px;
}
header .container .menu a{
    font-size: 0.875em;
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 16px;
    text-decoration: none;
}
header .container .menu a:hover, 
header .container .menu a.active    
{
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 16px;
    text-decoration: none;
}
.btn-h{
    background-color: #081E341F;
    color: #000000;
    border: 0;
    border-radius: 100px;
    font-size: 1rem;
    padding: 10px 12px;
    width: fit-content;
    gap: 8px;
}
.logo{
    width: 114.68px;
    height: 22px;
    display: flex;
    gap:10px;
}
.logo p{
    font-size: 1.1rem;
    font-weight: 500;
}

.wrap {
    background-color: #F1F1F1;
}
.main-content{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 620px;
    gap: 80px;
    padding: 100px 80px 100px 80px; 
}
.text{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 32px;
   
}
.text h1{
    font-size: 3rem ;
    font-weight: 700;
    line-height: 64px;
    font-family: 'Kanit', sans-serif;
    width: 350px;
}
.text p{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    width: 500px;
    padding-bottom: 20px;
    
}


.btn{
    background-color: #712FFF;
    color: white;
    border: 0;
    border-radius: 100px;
    font-size: 1rem;
    padding: 16px 24px;
    width: fit-content;
    gap: 10px;
}
.page2 {
    display: flex;
    height: 562px;
    width: 100%;
	background: #E1DEE7;
    border-radius: 32px;
    justify-content: center;
    flex-direction: column;
    gap: 86px;
    padding: 10px 80px;
}
.hiw h1{
    font-size: 3rem;
    justify-content: center;
    display:flex;
    font-family: 'Kanit', sans-serif;
}
.hiw p{
    font-size: 1rem;
    justify-content: center;
    display:flex;
    font-weight: 500;

}

.otth{
    width: 1280px; 
    height: 186px;
    gap: 40px; 
    flex-wrap: wrap;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    justify-content: center;
}
.info{
    width: 400px;
    height: 186px;
}
.info h3{
    font-size: 1.5rem;
}
.info p{
    font-size: 1rem;
}

.page3{
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 48px;
    padding: 0px 80px;
}
.lgs {
    gap: 32px;
    padding: 100px 0px;
    width: 757px;
    height: 222px;
}
.lgs h1{
    display: flex;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
}
.lgs p{
    font-size: 1rem;
    font-weight: 500;
}

.search form{
    width: 100%;
    display: flex;
    gap:20px;
    padding-bottom: 100px;
}

.search input[type="text"] {
    width: 757px;
    height: 50px;
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 12px;
}
.page4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 548px;
    padding: 64px 80px;
    gap: 128px;
}
.text4{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 495px;
   
}
.text4 h1{
    font-size: 3rem ;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Kanit', sans-serif;
}
.text4 p{
    font-size: 1rem;
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 20px;
    height: 174px;
    background-color: #f9f9f9;
    color: #838d99;
    display: flex; 
    justify-content: space-between; 
    font-weight: 500; 
    padding: 30px 80px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.footer-links {
    margin-bottom: 10px;
    font-weight: 500;
}



.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    ;
    font-weight: 500;
}

.footer-links .social-icon {
    width: 20px;
    height: 20px;
}

.madewith {
    margin-top: 5px;
    text-align: right;
    font-weight: 500;
    color: #000000;
}

.credits a {
    color: #838d99;
    text-decoration: none;
    font-weight: 500; 
    font-size: 1rem; 
}

.credits a {
    text-decoration: underline;
    font-weight: 500; 
}
