.message {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 32px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: rgb(230, 164, 222);
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
}
.btn {
    border-radius: 19px;
    background: rgb(230, 164, 222);
    color: white;
    border: 1;
    border-color:white;
}